:root {
  /* colors */
  --clr-dark: 213, 0%, 0%;
  --clr-light: 213, 0%, 28%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: ;
  --ff-serif-noto: ;
  --ff-sans-normal: ;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

body {
  background: #821BF1;
  background: -webkit-radial-gradient(top, #821BF1, #A271F4);
  background: -moz-radial-gradient(top, #821BF1, #A271F4);
  background: radial-gradient(to bottom, #821BF1, #A271F4);
  color: hsl(var(--clr-white));
}

input[type=text] {
  padding: 1rem;
  border: none;
  background: none;
  border-bottom: .9px solid white;
  font-size: var(--fs-600);
  color: hsl(var(--clr-white));
}

::placeholder {
  color: white;
  font-size: var(--fs-700);
}

label, input {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

label::after {
  content: attr(data-domain);
  position: absolute;
  top: .0rem;
  left: 10rem;
  font-size: var(--fs-500);
  color: white;
  font-weight: bold;
  
}

button[type=submit] {
  width: 7rem;
  position: relative;
  margin-left: 4.1rem;
  border-radius: 3rem;
  border: none;
  border-bottom: 1rem;
  padding: 1rem;
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  font-size: var(--fs-500);
}

.call-to-action {
  border: 2px solid lightgreen;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.logo {
  width: 1rem;
  height: 1rem;
}

.network-info {
  padding: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.network-info > p {
  background-color: hsl(var(--clr-dark));
  padding: .45rem;
  border-radius: 1rem;
  font-size: var(--fs-200);
  margin-left: 6rem;
}

.headers {
  text-align: center;
}

.switch-network {
  margin-top: 40%;
}

.switch-network > button {
  margin-left: 32%;
  width: 9rem;
}

.connect-container {
  width: 100%;
  padding: 1rem;
  justify-content: center;
  margin-top: 5rem;
}

.connect-btn {
  border-radius: 3rem;
  border: none;
  padding: 1rem;
  margin: auto;
  width: 60%;
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  font-size: var(--fs-600);
}

.forms {
  padding: 5rem;
  justify-content: center;
}

.mint-collection {
  grid-template-areas: 
    'mint-row mint-row'
    'mint-row mint-row'
    'mint-row mint-row';
  
  height: 29.5rem;
  border-left: 4px solid whitesmoke;
  max-width: 95%;
  margin: auto;
  justify-content: space-evenly;
  overflow: scroll;
  background: none;
  color: hsl(var(--clr-dark));
}

.mint-tab {
  height: 120px;
  width: 150px;
  background-color: hsl(var(--clr-dark));
  color: whitesmoke;
  border-radius: 20px;
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
  inset -10px -10px 18px 0 rgba(0, 0, 0, 0.3),
  inset 10px 10px 18px 0 rgba(255, 255, 255, 0.2);
  padding: 1rem;
  margin: 4px;
  overflow: scroll;
}

.mint-row {
  justify-content: center;
}

.edit-button > img{
  border-radius: 50%;
  background-color: white;
}